name: 'GH release'
on:
  push:
    tags:
      - '*'
jobs:
  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Preview Release
        run: echo ${{steps.github_release.outputs.changelog}}
        shell: bash

#      - name: Create Release
#        uses: actions/create-release@v1
#        with:
#          tag_name: ${{ github.ref }}
#          release_name: ${{ github.ref }}
#          body: ${{steps.github_release.outputs.changelog}}
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
